/*  */
#home_panel{
    display: none;
}

/*  */
#display_content{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
}

#popup_cancle_img{
    width: 25px;
    position: fixed;
    top: 12.7%;
    right: 34.5%;
    z-index: 20;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

#popup_cancle_img:hover{
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(12%) sepia(51%) saturate(7193%) hue-rotate(343deg) brightness(91%) contrast(114%);
}

#display_results{
    width: 30%;
    height: 72dvh;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px -2px 3px black;
    border-radius: 10px;
    padding: 1rem;
}

/*  */
#extras_logo{
    height: 50px;
}

#extras_transfer_container h2{
    text-align: center;
    color: darkred;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    border: 1px solid silver;
    border-width: 0px 0px 1px 0px;
    margin: 1rem 0rem;
}

#extras_transfer_msg{
    margin: 1rem 0.2rem;
    font-size: 0.9rem;
}

#extras_transfer_form{
    background-color: rgb(213, 210, 210);
    margin: 1rem 0rem;
}

#extras_transfer_form section{
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
}

#extras_transfer_form section p{
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    text-transform: capitalize;
}

#extras_transfer_form section p b{
    width: 30%;
}

#extras_transfer_form h3{
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem;
    text-align: center;
    margin: 1rem 0rem;
    font-size: 1.2rem;
}

#extras_transfer_form h4{
    background-color: gray;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.2rem 0.5rem;
}

#extras_transfer_code{
    margin: 1rem 0rem;
}

#extras_transfer_code h5{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

#extras_transfer_code input{
    width: 100px;
    display: flex;
    margin: 1rem auto;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 0.3rem 0.2rem;
    font-size: 1rem;
}

#extras_transfer_code input:focus{
    border-color: black;
}

/*  */

#transfer_err_msg{
    margin: 5rem 0 1rem 0;
    padding: 2rem 1rem;
}

#transfer_err_msg h1{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: gray;
    /* color: beige; */
}

#transfer_err_msg p{
    margin: 1rem 0rem;
    /* color: white; */
}

#transfer_err_msg p a{
    display: inline-block;
    color: var(--secondary-red);
    font-size: larger;
    font-weight: bold;
    padding: 0rem 0.2rem;
}

#transfer_err_msg p a:hover{
    transform: scale(1.05);
}

/*  */

@media (max-width:1030px) {
    #home_panel{
        display: block;
    }

    #activities_panel, #cards_panel, #transfer_panel, #profile_panel{
        display: none;
    }
}

/*  */
@media (max-width:1030px) {
    #popup_cancle_img{
        top: 28.5%;
        right: 25.5%;
    }

    #display_results{
        width: 45%;
        height: 40dvh;
        padding: 2rem;
        overflow: auto;
    }

    #extras_transfer_msg{
        font-size: 0.8rem;
    }

    #extras_transfer_form{
        margin: 1rem 2rem;
    }

    #extras_transfer_form section{
        font-size: 0.7rem;
    }

    #extras_transfer_form section p{
        gap: 0.2rem;
        margin: 0.3rem 0.5rem;
    }

    #extras_transfer_form section p b{
        width: 40%;
    }

    #extras_transfer_form h3{
        padding: 0.4rem 0.5rem;
        margin: 1rem 0rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    #extras_transfer_form h4{
        font-size: 0.9rem;
    }

    #extras_transfer_code{
        margin: 2rem 0rem 1rem 0rem;
    }

    #extras_transfer_code h5{
        font-size: 1.8rem;
    }
}

@media (max-width:900px) {
    #popup_cancle_img{
        top: 26.4%;
        right: 22.3%;
    }

    #display_results{
        width: 50%;
        height: 43dvh;
    }
}

@media (max-width:800px) {
    #popup_cancle_img{
        top: 22.5%;
        right: 19.6%;
    }

    #display_results{
        width: 55%;
        height: 50dvh;
    }
}

@media (max-width:650px) {
    #extras_logo{
        height: 40px;
    }

    #popup_cancle_img{
        top: 20%;
        right: 13.8%;
    }

    #display_results{
        width: 70%;
        height: 60dvh;
        padding: 0.5rem 1rem;
    }

    #extras_transfer_form{
        margin: 1rem;
    }
}

@media (max-width:500px) {
    #extras_logo{
        height: 35px;
    }

    #extras_transfer_container h2{
        font-size: 1.2rem;
    }

    #popup_cancle_img{
        width: 20px;
        top: 19.8%;
        right: 8.3%;
    }

    #display_results{
        width: 80%;
    }

    #extras_transfer_form{
        margin: 1rem;
    }
}

@media (max-width:400px) {
    #popup_cancle_img{
        top: 14.5%;
        right: 2.3%;
    }

    #display_results{
        width: 90%;
        height: 70dvh;
    }
}