main{
    display: none;
    padding: 0rem 1.5rem;
    margin-bottom: 1rem;
}

#landing_main{
    width: 100%;
    position: relative;
    background-color: black;
    /* color: var(--third-opt); */
    /* color: white; */
    /* text-shadow: -1px 1px 1px var(--third-opt); */
    z-index: 1;
}

#landing_main video{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: contrast(50%) sepia(0%) saturate(0%); */
    opacity: 0.6;
    
}

#landing_container{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    gap: 1rem;
    min-height: 70dvh;
    padding: 2rem;
}

#landing_form_section{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    width: 30%;
    /* min-height: 20dvh; */
    /* box-shadow: 2px -2px 3px var(--secondary-red), -2px 2px 3px var(--main-color); */
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
    color: black;
}

#landing_side_bar{
    width: 60%;
    background-image: url(../gallery/pics/landing_nav_side_bar.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

#landing_side_bar{
    animation: sideSideBar 1s ease-in-out;
}

#landing_side_bar h1{
    text-align: center;
    margin: 1rem 0.1rem;
    text-transform: capitalize;
    color: darkred;
    border: 1px solid silver;
    border-width: 0px 0px 1px 0px;
    padding: 0rem 0rem 0.1rem 0rem;
}

#side_bar_content h2{
    font-weight: 500;
    margin: 8rem 0rem 1rem 0rem;
    font-size: 2.4rem;

}

#side_bar_content p{
    color: gray;
    margin: 2rem 0rem 1rem 0rem;
    font-size: 1.1;
    font-style: italic;
    margin-left: 5rem;
}

/*  */
.metric_charts{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem;
}

.metric_charts h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: white;
}

.metric_charts ul{
    justify-content: center;
    gap: 2rem;
}

.metric_charts ul li{
    width: 20%;
    background-color: beige;
    padding: 1rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 3px 1px white; */
}

.metric_charts_png{
    float: right;
    display: block;
    width: 50px;
    background-color: var(--third-opt);
    border-radius: 50%;
    padding: 5px;
    /* filter: invert(100%); */
}

.metric_charts ul li section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
}

.metric_charts ul li section h4{
    font-size: larger;
}

.metric_charts ul li section span{
    color: darkred;
}

.metric_charts ul li section i{
    font-size: smaller;
    color: gray;
}

.metric_charts ul li button{
    display: flex;
    align-items: baseline;
    gap: 0.4rem;
    font-size: smaller;
    font-weight: 500;
    margin-top: 1.5rem;
    background-color: darkgreen;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.metric_charts ul li button:hover{
    transform: scale(1.05);
}

.metric_charts ul li button img{
    /* width: 20px; */
    height: 20px;
    /* object-fit: fill; */
    filter: invert(100%);
}

/*  */

footer{
    /* padding: 1rem; */
    font-size: 0.9rem;
}

footer ul{
    list-style: none;
    display: flex;
}

footer ul li{
    width: 100%;
    padding: 0rem 2rem;
}

footer ul li h4{
    color: darkred;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

footer ul li a{
    display: block;
    margin: 0.5rem 0rem;
}

footer ul li a:hover{
    color: darkred;
}

footer ul li:not(:last-child){
    border: 1px solid gray;
    border-width: 0px 1px 0px 0px;
}

footer ul li img{
    display: flex;
    width: 170px;
    margin: 1rem auto;
}

#foot_liner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: gray;
    margin-top: 1rem;
    padding: 0.3rem 0.1rem;
}

#foot_liner h5{
    font-size: 1.1rem;
}

#foot_liner img{
    display: inline-block;
    margin: 0rem 0.5rem;
    width: 18px;
}

/*  */
@keyframes sideSideBar {
    from{
        transform: translateX(-50%);
        opacity: 0.2;
    }

    to{
        transform: translateX(0%);
        opacity: 0.9;
    }
}

/*  */
@media (max-width:1030px) {
    #landing_container{
        justify-content: space-between;
        margin-top: 7rem;
        min-height: 20dvh;
        padding: 0.5rem;
        gap: 2rem;
    }

    #landing_form_section{
        width: 40%;
    }

    #landing_side_bar{
        width: 60%;
        background-size: fill;
        padding: 0.5rem;
    }

    #landing_side_bar h1{
        margin: 0.5rem 0.1rem;
    }

    #side_bar_content h2{
        text-align: center;
        width: 50%;
        text-shadow: 0px 0px 2px white;
    }

    #side_bar_content p{
        display: none;
    }

    /* metric */
    .metric_charts{
        padding: 1rem 0.5rem;
    }

    .metric_charts h2{
        margin-bottom: 1rem;
    }

    .metric_charts ul{
        justify-content: space-evenly;
        gap: 1.5rem;
    }

    .metric_charts ul li{
        width: 22%;
        padding: 0.8rem;
    }

    .metric_charts_png{
        width: 30px;
    }

    .metric_charts ul li section{
        gap: 0.2rem;
        font-size: 0.8rem;
    }

    .metric_charts ul li section h4{
        font-size: 1.5rem;
    }

    .metric_charts ul li section i{
        font-size: 0.7rem;
    }

    .metric_charts ul li button{
        gap: 0.2rem;
        font-size: 0.8rem;
        margin-top: 0.8rem;
        padding: 0.2rem 0.8rem;
    }

    .metric_charts ul li button:hover{
        transform: scale(1.03);
    }

    .metric_charts ul li button img{
        height: 15px;
    }

    footer{
        font-size: 0.8rem;
    }

    footer ul li h4{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    footer ul li a{
        margin: 0.4rem 0rem;
    }

    footer ul li img{
        width: 100px;
        margin: 0.5rem auto;
    }

    #foot_liner{
        margin-top: 0.5rem;
    }

    #foot_liner h5{
        font-size: 0.9rem;
    }

    #foot_liner img{
        width: 13px;
    }
}

@media (max-width:900px) {

    #landing_form_section{
        width: 45%;
    }

    #landing_side_bar{
        width: 40%;
    }

    #side_bar_content h2{
        display: none;
    }

    .metric_charts ul{
        gap: 1rem;
    }

    .metric_charts ul li{
        width: 23%;
        padding: 0.5rem;
    }

    .metric_charts_png{
        width: 25px;
    }

    .metric_charts ul li section{
        gap: 0.2rem;
        font-size: 0.7rem;
    }

    .metric_charts ul li section h4{
        font-size: 1.2rem;
    }

    .metric_charts ul li section i{
        font-size: 0.6rem;
    }

    .metric_charts ul li button{
        gap: 0.2rem;
        font-size: 0.7rem;
        margin-top: 0.5rem;
        padding: 0.2rem 0.6rem;
    }

    .metric_charts ul li button img{
        height: 13px;
    }

    footer{
        font-size: 0.7rem;
    }

    footer ul li{
        padding: 0rem 1rem;
    }

    footer ul li h4{
        text-align: left;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    footer ul li img{
        width: 70px;
    }

    #foot_liner h5{
        font-size: 0.7rem;
    }

    #foot_liner img{
        width: 12px;
    }

}

@media (max-width:650px) {
    #landing_container{
        margin-top: 5.5rem;
    }

     #landing_form_section{
        width: 55%;
    }

    #landing_side_bar{
        display: none;
    }

    .metric_charts ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        padding: 0rem 2rem;
    }

    .metric_charts ul li{
        width: 30%;
        padding: 0.5rem 1rem;
    }

    footer{
        font-size: 0.7rem;
    }

    footer ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    footer ul li{
        width: 40%;
        padding: 0rem 0.5rem;
        margin: 0.5rem 0rem;
    }

    footer ul li:not(:last-child){
        border: none;
    }

    footer ul li h4{
        text-align: left;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    footer ul li img{
        width: 70px;
    }

    #foot_liner h5{
        font-size: 0.7rem;
    }

    #foot_liner img{
        width: 12px;
    }
}

@media (max-width:500px) {
    main{
        padding: 0rem 1rem;
    }

    #landing_container{
        margin-top: 5rem;
    }

    #landing_form_section{
        width: 65%;
    }

    .metric_charts h2{
        font-size: 1.2rem;
    }

    .metric_charts ul{
        gap: 1rem;
        padding: 0rem;
    }

    .metric_charts ul li{
        width: 40%;
        padding: 0.5rem;
    }

    footer{
        font-size: 0.6rem;
    }

    footer ul li{
        width: 40%;
        padding: 0rem 1rem;
        margin: 0.5rem 0rem;
    }

    footer ul li h4{
        font-size: 0.8rem;
    }

    footer ul li a{
        margin: 0.3rem 0rem;
    }

    footer ul li img{
        width: 60px;
    }

    #foot_liner h5{
        font-size: 0.6rem;
    }

    #foot_liner img{
        width: 10px;
    }
}

@media (max-width:400px) {
    main{
        padding: 0rem 0.5rem;
    }

    #landing_form_section{
        width: 90%;
    }

    .metric_charts h2{
        font-size: 1.1rem;
    }

    .metric_charts ul li{
        width: 35%;
        padding: 0.5rem 1rem;
    }
}

@media (max-width:360px) {
    main{
        padding: 0rem 0.2rem;
    }

    #landing_form_section{
        width: 100%;
    }

    .metric_charts h2{
        font-size: 1rem;
    }

    .metric_charts ul li{
        width: 40%;
        padding: 0.5rem;
    }
}