#mobileMenu{
    display: none;
}

nav{
    overflow: hidden;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 3px black;
}

#nav_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0rem;
    width: 100%;
    overflow: hidden;
    padding: 0.8rem 1rem 0.1rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 50;
}

#nav_top:hover{
    background-color: rgba(255, 255, 255, 1);
}

#mobile_logo{
    display: none;
}

#desk_logo{
    width: 150px;
}

#log_btn_container{
    display: flex;
    align-items: center;
}

#log_btn_container a{
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 1px solid transparent;
    border-width: 0px 0px 1px 0px;
}

#log_btn_container a:first-child{
    background-color: var(--secondary-red);
    color: white;
}

#log_btn_container a:hover{
    border-color: var(--secondary-red);
    border-radius: 0px !important;
}

#nav_mid{
    background-color: var(--main-color);
    color: white;
}

#nav_mid ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_mid ul section{
    display: flex;
    align-items: center;
}

#nav_mid ul section li{
    padding: 1rem 2rem;
}

#nav_mid ul section li:first-child{
    background-color: var(--secondary-red);
    justify-self: flex-start;
}

#nav_mid ul section li a{
    padding-bottom: 0.2rem;
    border: 0px solid transparent;
    border-width: 0px 0px 2px 0px;
}

#nav_mid ul section li a:hover{
    border-color: var(--secondary-red);
}

.nav_float_menu{
    display: none;
    left: 0;
    width: 100%;
    min-height: 30dvh;
    z-index: 8;
    color: black;
    position: absolute;
    background-color: silver;
    box-shadow: 0px 0px 3px gray;
    margin-top: 1rem;
    padding: 1rem 0rem;
}

.nav_drop_menu{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.nav_menu_explore{
    width: 25%;
    background-color: white;
    position: relative;
    padding: 1rem 2rem;
}

.nav_menu_explore h4{
    text-align: center;
    font-size: 1.3rem;
    color: darkred;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.nav_menu_explore img{
    display: flex;
    margin: 0.5rem auto;
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 2px;
    box-shadow: 0px 0px 3px black;
}

.nav_menu_explore img:hover{
    transform: scale(1.05);
}

.nav_menu_explore span{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: large;
    font-weight: bold;
    padding: 0.5rem 2rem;
    color: white;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 0px 3px beige;
}

#nav_mid ul section li:hover > .nav_float_menu{
    display: block;
}

#nav_bottom{
    padding: 0.5rem 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    background-color: silver;
}

#nav_bottom marquee span{
    display: inline-block;
    margin-right: 50rem;
    color: #000000a8;
}

#nav_bottom marquee span:hover{
    color: black;
}
/*  */

 @keyframes fadeMobileBar {
    from{
        opacity: 0.2;
        transform: translateX(-5%);
    }

    to{
        opacity: 0.9;
        transform: translateX(0%);
    }
}

/*  */
@media (max-width:1030px) {
    #nav_top{
        position: fixed;
        box-shadow: 0px 0px 3px 1px black;
    }

    #nav_bottom{
        display: none;
    }

    #log_btn_container a{
        padding: 0.4rem 1rem;
    }

    #mobileMenu{
        display: block;
        font-size: 3rem;
        margin: 0rem 1.5rem 0rem 2rem;
    }

    #nav_mid{
        display: none;
        width: 100%;
        height: 100dvh;
        position: fixed;
        top: 4.5rem;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.2);
        animation: fadeMobileBar 0.4s ease-in-out;
    }


    #nav_mid ul{
        display: block;
    }

    #nav_mid ul section{
        display: block;
    }

    #nav_mid ul section li{
        padding: 0.5rem 1rem;
        width: 20%;
        background-color: whitesmoke;
        color: black;
    }

    #nav_mid ul section li:first-child{
        background-color: var(--secondary-red);
        color: white;
    }

    #nav_mid ul section li a{
        padding-bottom: 0rem;
        border: none;
    }

    #nav_mid ul section li a:hover{
        border-color: var(--secondary-red);
        color: white;
    }

    .nav_float_menu{
        display: none;
        width: 74%;
        min-height: auto;
        z-index: 100;
        position: fixed;
        top: 5rem;
        left: 25%;
        background-color: transparent;
        box-shadow: none;
        margin-top: 0;
        padding: 0;
    }

    .nav_drop_menu{
        gap: 1rem;
    }

    .nav_menu_explore{
        width: 28%;
        padding: 0.5rem 1rem;
    }

    .nav_menu_explore h4{
        font-size: 0.9rem;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
    }

    .nav_menu_explore img{
        height: 120px;
    }

    .nav_menu_explore img:hover{
        transform: scale(1);
    }

    .nav_menu_explore span{
        font-size: 0.7rem;
        font-weight: 500;
        padding: 0.2rem 0.5rem;
    }

    #nav_mid ul section li:hover > .nav_float_menu{
        display: none;
    }

}

@media (max-width:900px) {
    #nav_mid ul section li{
        padding: 0.4rem 0.1rem 0.4rem 0.4rem;
        font-size: 0.9rem;
        width: 22.5%;
    }

    .nav_drop_menu{
        gap: 0.8rem;
    }

    .nav_menu_explore{
        width: 30%;
        padding: 0.4rem 1.1rem;
    }

    .nav_menu_explore h4{
        font-weight: 500;
    }

    .nav_menu_explore img{
        height: 100px;
    }
}

@media (max-width:650px) {
    #desk_logo{
        width: 150px;
    }

    #nav_top{
        padding: 0.3rem 1rem 0.1rem 0.5rem;
    }

    #log_btn_container a{
        padding: 0.3rem 0.6rem;
        font-size: 0.9rem;
    }

    #mobileMenu{
        font-size: 2.5rem;
        margin: 0rem 1rem 0rem 1.5rem;
    }

    #nav_mid{
        top: 4rem;
    }

    #nav_mid ul section li{
        width: 30%;
    }

    .nav_float_menu{
        width: auto;
        top: 4rem;
        left: 35%;
    }

    .nav_drop_menu{
        display: block;
    }

    .nav_menu_explore{
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .nav_menu_explore h4{
        font-size: 1rem;
        margin-bottom: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav_menu_explore img{
        height: 100px;
        width: 180px;
    }

    .nav_menu_explore span{
        font-size: 0.8rem;
    }
}

@media (max-width:500px) {
    #desk_logo{
        display: none;
    }

    #mobile_logo{
        display: block;
        height: 40px;
    }

    #mobileMenu{
        margin: 0rem 1rem 0rem 1.5rem;
    }

    #nav_mid{
        top: 3.5rem;
    }

    #nav_mid ul section li{
        font-size: 0.9rem;
        width: 40%;
    }

    .nav_float_menu{
        top: 3.5rem;
        left: 48%;
    }

    .nav_menu_explore{
        padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    }

    .nav_menu_explore h4{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
    }

    .nav_menu_explore img{
        height: 80px;
        width: 150px;
    }

    .nav_menu_explore span{
        font-size: 0.7rem;
    }
}

@media (max-width:400px) {
    
    #mobile_logo{
        height: 35px;
    }

    #mobileMenu{
        margin: 0rem 0.8rem 0rem 1rem;
    }

    #nav_mid ul section li{
        font-size: 0.8rem;
    }

    .nav_menu_explore img{
        height: 80px;
        width: 140px;
    }
}

@media (max-width:360px) {

    #nav_mid ul section li{
        font-size: 0.7rem;
        width: 37%;
    }

    .nav_float_menu{
        left: 45%;
    }

    .nav_menu_explore img{
        height: 70px;
        width: 120px;
    }
}