*{
    padding: 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --main-color: #152D4A;
    --secondary-color: #467249;
    --third-opt: #f4a507;
    --main-red: #E3000F;
    --secondary-red: #B10C17;
}

body{
    background-color: whitesmoke;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#app_loading{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100dvh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#app_loading img{
    width: 80px;
    height: 80px;
    position: absolute;
}

#app_loading p{
    width: 100px;
    height: 100px;
    border: 5px solid var(--third-opt);
    border-width: 5px 0px 0px 5px;
    border-radius: 50%;
    animation: appLoad 1.5s linear infinite;
}

img, video{
    object-fit: contain;
    /* width: 100%; */
}

button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: inherit;
}

select, input, textarea{
    outline: none;
    background-color: transparent;
}

a{
    color: inherit;
    text-decoration: none;
}

/*  */
@keyframes appLoad {
    from{
        transform: rotate(-360deg);
    }

    to{
        transform: rotate(-0deg);
    }
}