.auto_slide{
    background: radial-gradient(circle at center, white, beige, rgba(0, 0, 0, 0.6)), 100%;
    padding: 2rem 3rem;
}

.auto_slide h2{
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.3rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    border: 1px solid white;
    border-width: 0px 0px 1px 0px;
    color: darkred;
}

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  /* max-width: 1000px; */
  position: relative;
  /* margin: auto; */
}

#slideshow_paragrap{
    width: 50%;
    font-size: 1.5rem;
    /* background-color: red; */
}

#slideshow_container{
    width: 50%;
    position: relative;
    box-shadow: 0px 0px 5px 1px white;
    overflow: hidden;
}

#slideshow_container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Caption text */
.text {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  /* width: 100%; */
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  /* color: var(--main-color); */
  background-color: rgba(255, 255, 255, 0.6);
  /* font-size: smaller; */
  padding: 0.3rem 1rem;
  position: absolute;
  top: 0;
  /* text-shadow: 0px 0px 1px white; */
  /* font-weight: bold; */
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: silver;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: black !important;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*  */
@media (max-width:1030px) {
  .auto_slide{
      padding: 1rem 1rem;
      margin: 2rem 0rem 1rem 0rem;
  }

  .auto_slide h2{
      word-spacing: 0.2rem;
      font-size: 2.2rem;
      margin-bottom: 1rem;
  }

  .slideshow-container {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #slideshow_paragrap{
    display: none;
  }

  #slideshow_container{
      width: 100%;
      box-shadow: 0px 0px 3px 1px white;
      margin: 0.5rem 5rem;
  }

  #slideshow_container img{
      height: 420px;
      /* object-fit: cover; */
  }

  .text {
    font-size: 12px;
    padding: 4px 8px;
  }

  .numbertext {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    padding: 0.2rem 0.5rem;
  }

  .dot {
    height: 12px;
    width: 12px;
  }
}

@media (max-width:1030px) {
  .auto_slide{
      padding: 0rem 0rem 1rem 0rem;
      margin: 1rem 0rem;
  }

  .auto_slide h2{
      word-spacing: 0rem;
      font-size: 2rem;
      margin: 1rem 0rem;
      padding: 1rem 0rem 0.1rem 0rem;
      text-transform: lowercase;
  }

  .auto_slide h2::first-letter{
    text-transform: uppercase;
  }

  #slideshow_container{
      width: 100%;
      box-shadow: 0px 0px 3px 1px white;
      margin: 0.5rem 3rem;
  }

  #slideshow_container img{
      height: 300px;
  }
}

@media (max-width:650px) {
  .auto_slide{
      padding: 0rem 0rem 1rem 0rem;
      margin: 1rem 0rem;
  }

  .auto_slide h2{
      font-size: 1.6rem;
      margin: 1rem 0rem;
      padding: 0.5rem 0rem 0.1rem 0rem;
  }

  #slideshow_container{
      width: 100%;
      margin: 0.5rem 1rem;
  }

  #slideshow_container img{
      height: 280px;
  }
}

@media (max-width:500px) {

  .auto_slide h2{
      font-size: 1.5rem;
  }

  #slideshow_container{
      width: 100%;
      margin: 0.5rem;
  }

  #slideshow_container img{
      height: auto;
  }
}

@media (max-width:400px) {

  .auto_slide h2{
      font-size: 1.2rem;
  }
}